@charset "utf-8";
img {
    float: none;
    background-color: rgba(9,8,8,1.00);
    text-align: center;
    margin-right: 400px;
    border: thick solid rgba(5,5,5,1.00);
    margin-left: 350px;
}
