@charset "utf-8";
title {
    display: flex;
    flex-flow: row wrap;
    background-color: brown;
    color: white;
    padding: 5px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-size: large;
    margin-left: 7px;
    margin-right: 0px;
}
